---
import { SOCIAL_LINKS } from "../constants";
import SocialButton from "./SocialButton.astro";
---

<footer
	class="flex justify-between items-center border-t border-neutral-200 py-4 mt-auto px-[10px] dark:border-neutral-700"
>
	<p class="text-base">Made with ❤️ and ☕️</p>

	<ul class="flex items-center gap-4">
		{
			SOCIAL_LINKS.map((link) => (
				<li>
					<SocialButton href={link.href} label={link.label} />
				</li>
			))
		}
	</ul>
</footer>
